Repository kubernetes-sigs/krew-index, pull requests merged in 2021-12, with the labels that each got.

#1804 feat: add plugin kubectl-relay
  plugins/relay.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved

#1805 Add a new plugin "stern"
  plugins/stern.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved

#1825 update minio v4.3.7
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1809 add kubectl plugin - kruise
  plugins/kruise.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved

#1839 add pv-migrate plugin
  plugins/pv-migrate.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#1847 CI: Update validate-krew-manifest with latest
  .github/workflows/ci.yml
Labels: size/XS, cncf-cla: yes, lgtm, approved

#1852 bump reliably to v0.33.1 (manual)
  plugins/reliably.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1844 Update open-svc to v2.5.2
  plugins/open-svc.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1849 Update stern to v1.21.0
  plugins/stern.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1813 add new plugin 'kuota-calc'
  plugins/kuota-calc.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#1862 update minio to v4.3.8
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1831 add htpasswd plugin
  plugins/htpasswd.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#1867 update to v4.3.9
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1865 implement go mod cache
  .github/workflows/ci.yml
Labels: size/S, cncf-cla: yes, lgtm, approved

#1868 HLF v1.4.0
  plugins/hlf.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update
