Repository kubernetes-sigs/krew-index, pull requests merged in 2022-02, with the labels that each got.

#1958 update minio v4.4.5
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1964 update minio v4.4.6
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1965 correct the typo in file name
  plugins/rook-ceph.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1959 Add ingress-rule plugin to krew index
  plugins/ingress-rule.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#1966 extract all files copy specific files not working
  plugins/rook-ceph.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1974 krew v0.4.3
  plugins/krew.yaml
Labels: size/S, cncf-cla: yes, approved, kind/plugin-update

#1972 Bump krew version in CI workflow
  .github/workflows/ci.yml
Labels: size/S, cncf-cla: yes, lgtm, approved

#1976 update minio v4.4.7
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1952 add the Datree plugin to the repository
  plugins/datree.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#1961 Update ssh-jump.yaml for v0.6.0
  plugins/ssh-jump.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1995 Add rename-pvc plugin
  plugins/rename-pvc.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#1997 release new version v1.6.2 of sniff
  plugins/sniff.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2000 HLF v1.5.0
  plugins/hlf.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2017 Update socks5-proxy.yaml for v1.1.0
  plugins/socks5-proxy.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2030 new version v0.7.1 of viewnode plugin
  plugins/viewnode.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2032 update minio v4.4.9
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2034 rook-ceph: release new version v0.1.0 of rook-ceph
  plugins/rook-ceph.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2039 update minio v4.4.10
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2041 Revert "release new version v1.6.10 of kyverno"
  plugins/kyverno.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2043 [minio/direct-csi] Update version to v2.0.4
  plugins/direct-csi.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2044 [minio/directpv] Update version to v2.0.4
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2048 update view-allocations from 0.14.5 to 0.14.8
  plugins/view-allocations.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update
