Repository kubernetes-sigs/krew-index, pull requests merged in 2022-09, with the labels that each got.

#2563 new version v0.8.1 of viewnode
  plugins/viewnode.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2550 add execws plugin
  plugins/execws.yaml
Labels: kind/gray-area, size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2582 update minio v4.5.0
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2590 release new version v0.8.0 of eds
  plugins/eds.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2598 [minio/directpv] Update version to v3.1.0
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2602 new 0.5.0 of volsync plugin
  plugins/volsync.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2619 update minio v4.5.1
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2623 update directpv v3.2.0
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2599 [minio/direct-csi] Update version to v3.1.0
  plugins/direct-csi.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update
