Repository kubernetes-sigs/krew-index, pull requests merged in 2022-08, with the labels that each got.

#2465 plugins/gadget: Update install instructions
  plugins/gadget.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2464 Add plugin: kubectl-count
  plugins/count.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2478 update minio v4.4.28
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2460 Add confirm plugin
  plugins/confirm.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2496 Update the rbac-lookup plugin to verision v0.9.0
  plugins/rbac-lookup.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2504 Update ssh-jump.yaml for v0.7.1
  plugins/ssh-jump.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2508 Update ssh-jump.yaml for v0.7.2
  plugins/ssh-jump.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2509 Update ssh-jump.yaml for v0.7.3
  plugins/ssh-jump.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2471 Apply templated resources
  plugins/applier.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2522 add colorize applied plugin
  plugins/colorize-applied.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2545 Add kubectl plugin kc
  plugins/kc.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2557 [minio/direct-csi] Update version to v3.0.4
  plugins/direct-csi.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2558 [minio/directpv] Update version to v3.0.4
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2554 Add plugin "foreach"
  plugins/foreach.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin
