Repository kubernetes-sigs/krew-index, pull requests merged in 2022-03, with the labels that each got.

#2060 update minio v4.4.11
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2062 Add nsenter
  plugins/nsenter.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2057 add ice plugin to krew index
  plugins/ice.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2077 [minio/directpv] Update version to v2.0.6
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2078 [minio/direct-csi] Update version to v2.0.6
  plugins/direct-csi.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2087 [minio/directpv] Update version to v2.0.7
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2088 [minio/direct-csi] Update version to v2.0.7
  plugins/direct-csi.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2111 MinIO v4.4.12
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2112 update node-shell v1.6.0
  plugins/node-shell.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2116 Update version to v2.0.9
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2123 update minio v4.4.13
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2124 [minio/direct-csi] Update version to v2.0.9
  plugins/direct-csi.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2127 Add dds plugin
  plugins/dds.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2121 feat: add kubectl-print-env plugin
  plugins/print-env.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2133 chore(deps): bump starboard from v0.14.1 to v0.15.0
  plugins/starboard.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/plugin-update
