Repository kubernetes-sigs/krew-index, pull requests merged in 2022-07, with the labels that each got.

#2332 Add switch plugin to krew index
  plugins/switch-config.yaml
Labels: kind/gray-area, size/S, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2399 ssm-secret: support arm64 and updated mods
  plugins/ssm-secret.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2403 Adding windows-debug plugin
  plugins/windows-debug.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2439 update minio v4.4.26
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2445 Update ssh-jump.yaml for v0.7.0
  plugins/ssh-jump.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2433 Add `kubectl discover` that helps discovering and exporting of clusters
  plugins/discover.yaml
Labels: size/L, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2448 Update kubectl-cert_manager to v1.9
  plugins/cert-manager.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2450 update minio.yaml v4.4.27
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2451 [minio/directpv] Update version to v3.0.3
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2452 [minio/direct-csi] Update version to v3.0.3
  plugins/direct-csi.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update
