Repository kubernetes-sigs/krew-index, pull requests merged in 2022-10, with the labels that each got.

#2644 release new version v0.1.1 of execws
  plugins/execws.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2646 update minio v4.5.2
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2648 Add ttsum plugin
  plugins/ttsum.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2682 new version v1.17.1 of cnpg
  plugins/cnpg.yaml
Labels: cncf-cla: yes, lgtm, approved

#2689 Revert to v1.8.0 of Kyverno
  plugins/kyverno.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2692 update minio v4.5.3
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2661 Add kubectl-permissions plugin
  plugins/permissions.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2702 Adding Linux ARM64 support
  plugins/kuttl.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update
