Repository kubernetes-sigs/krew-index, pull requests merged in 2022-04, with the labels that each got.

#2097 add log2rbac plugin (version v0.0.2)
  plugins/log2rbac.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2141 update minio v4.4.14
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2122 add dtlogin v1.0.0
  plugins/dtlogin.yaml
Labels: kind/gray-area, size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2145 Bump cert-manager plugin versions for 1.8
  plugins/cert-manager.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2155 update hlf plugin
  plugins/hlf.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2159 Add aws-auth v0.3.5
  plugins/aws-auth.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2167 MinIO v4.4.15
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2170 HLF v1.6.1
  plugins/hlf.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2186 update minio v4.4.16
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2187 HLF 1.6.2
  plugins/hlf.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2194 new version v0.1.9 of pod-inspect
  plugins/pod-inspect.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2201 KUTTL 0.12.0 Bump
  plugins/kuttl.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2202 Update diretcpv version to v3.0.0
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2203 Update direct-csi version to v3.0.0
  plugins/direct-csi.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2205 KUTTL 0.12.1 Bump
  plugins/kuttl.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2189 Add kubectl-safe
  plugins/safe.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin
