Repository kubernetes-sigs/krew-index, pull requests merged in 2022-01, with the labels that each got.

#1880 update direct-csi v2.0.0
  plugins/direct-csi.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1883 [minio/direct-csi] Update version to v2.0.1
  plugins/direct-csi.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1885 update minio v4.4.0
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1887 update minio v4.4.1
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1892 update node-shell v1.5.4
  plugins/node-shell.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1870 ktop plugin
  plugins/ktop.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#1875 This adds the DirectPV driver kubectl plugin
  plugins/directpv.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#1894 update minio v4.4.2
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1900 update minio v4.4.3
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1902 Update OpenEBS to v0.5.0
  plugins/openebs.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1901 Updating resource-capacity to v0.7.0
  plugins/resource-capacity.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1903 `kubectl secretdata` plugin
  plugins/secretdata.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#1891 `kubectl explore` plugin
  plugins/explore.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#1918 update node-shell v1.5.5
  plugins/node-shell.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1921 update vela cli to v1.2.1
  plugins/vela.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1922 update directpv v2.0.2
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1925 Add kubectl realname-diff plugin to krew index
  plugins/realname-diff.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#1924 chore(deps): bump starboard from v0.13.2 to v0.14.0
  plugins/starboard.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1926 release new version v1.0.1 of karmada cli
  plugins/karmada.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1879 Update example.yaml
  plugins/example.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1929 new version v0.3.0 of edit-status
  plugins/edit-status.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1936 new version v1.2.2 of vela
  plugins/vela.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1923 Add kubectl-vpa-recommendation plugin to Krew index
  plugins/vpa-recommendation.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#1943 update minio v4.4.4
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#1953 update cert-manager plugins for cert-manager 1.7
  plugins/cert-manager.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update
