Repository kubernetes-sigs/krew-index, pull requests merged in 2022-05, with the labels that each got.

#2227 update minio v4.4.17
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2230 new version v0.8.0 of viewnode
  plugins/viewnode.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2241 Add kubectl-cnpg
  plugins/cnpg.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2264 update minio v4.4.18
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2269 update directpv v3.0.1
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2256 Update Karmada plugin sha256 of v1.1.2
  plugins/karmada.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2275 update minio v4.4.19
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2279 update minio v4.4.20
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2288 update minio v4.4.21
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2292 update cnpg v1.15.1
  plugins/cnpg.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update
