Repository kubernetes-sigs/krew-index, pull requests merged in 2022-11, with the labels that each got.

#2717 update minio v4.5.4
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2723 add `oomd` plugin
  plugins/oomd.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2731 Kuttl 1.14.0 bump
  plugins/kuttl.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2734 release new version v0.4.0 of tmux-exec
  plugins/tmux-exec.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2756 Release cert-manager v1.10.1
  plugins/cert-manager.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2770 plugins: update score to v1.14.0
  plugins/score.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update
