Repository kubernetes-sigs/krew-index, pull requests merged in 2022-06, with the labels that each got.

#2315 release new version v1.7.0 of kyverno
  plugins/kyverno.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2303 Make cache work on every pull request
  .github/workflows/ci.yml
Labels: size/S, cncf-cla: yes, lgtm, approved

#2333 release dtlogin 1.1
  plugins/dtlogin.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2346 updated pod-inspect to v0.1.10
  plugins/pod-inspect.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2354 update minio v4.4.23
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2358 [minio/directpv] Update version to v3.0.2
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2359 [minio/direct-csi] Update version to v3.0.2
  plugins/direct-csi.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2369 update minio v4.4.24
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2379 Add liqo kubectl plugin to the index
  plugins/liqo.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin
