Repository kubernetes-sigs/krew-index, pull requests merged in 2023-09, with the labels that each got.

#3346 update minio to v5.0.8
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3320 Add insider plugin (v.0.4.0)
  plugins/insider.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3312 new version v1.8.0 of node-shell
  plugins/node-shell.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3355 update to v5.0.9
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3357 Bump cert-manager kubectl plugin to 1.13.0
  plugins/cert-manager.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3358 Bump shell-ctx kubectl plugin to v1.0.3
  plugins/shell-ctx.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3367 Bump shell-ctx to v1.0.4
  plugins/shell-ctx.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3348 Added nodegizmo plugin
  plugins/nodegizmo.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin
