Repository kubernetes-sigs/krew-index, pull requests merged in 2023-02, with the labels that each got.

#2913 [nodepools]: documentation fixes
  plugins/nodepools.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2924 adding kubescape plugin with version v2.1.2
  plugins/kubescape.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2925 Add crane plugin
  plugins/crane.yaml
Labels: size/L, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2960 Release new version v1.2.5 of slice
  plugins/slice.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2963 New volsync version 0.5.2
  plugins/volsync.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2964 new version v0.6.0 of volsync plugin
  plugins/volsync.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2968 New plugin for listing community-images
  plugins/community-images.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin
