Repository kubernetes-sigs/krew-index, pull requests merged in 2023-05, with the labels that each got.

#3108 improve shortDescription for aks plugin
  plugins/aks.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3123 add windows support to kubectl-view-allocations
  plugins/view-allocations.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3128 fix: use dl.k8s.io, not kubernetes-release bucket
  .github/workflows/ci.yml
Labels: kind/cleanup, size/XS, cncf-cla: yes, lgtm, approved, kind/deprecation

#3071 add node-ssm plugin
  plugins/node-ssm.yaml
Labels: size/L, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3152 add marvin plugin
  plugins/marvin.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3168 update minio v5.0.5
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update
