Repository kubernetes-sigs/krew-index, pull requests merged in 2023-12, with the labels that each got.

#3522 Add debug-pdb plugin
  plugins/debug-pdb.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3404 add ctr plugin
  plugins/ctr.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3536 [minio/directpv] Update version to v4.0.10
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3538 Add `kubectl-mayastor` 2.5.0.
  plugins/mayastor.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3555 new version v1.9.0 of node-shell
  plugins/node-shell.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update
