Repository kubernetes-sigs/krew-index, pull requests merged in 2023-11, with the labels that each got.

#3450 new gke-policy plugin
  plugins/gke-policy.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3475 Revert "release new version v1.10.5 of kyverno"
  plugins/kyverno.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3485 Publishing v0.8.0 of VolSync plugin
  plugins/volsync.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3493 Bump shell-ctx version
  plugins/shell-ctx.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3497 update v5.0.11 minio
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3498 Add ```autons``` plugin manifest
  plugins/autons.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved

#3500 feat: add plogs kubernetes plugin
  plugins/plogs.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3432 Add `subm` plugin
  plugins/subm.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3507 Bump to version v1.0.7
  plugins/shell-ctx.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update
