Repository kubernetes-sigs/krew-index, pull requests merged in 2023-04, with the labels that each got.

#3046 update minio.yaml v5.0.2
  plugins/minio.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3061 update view-allocations from 0.15.1 to 0.16.3
  plugins/view-allocations.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3067 [minio/directpv] Update version to v4.0.3
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3072 Update ssh-jump.yaml for v0.8.0
  plugins/ssh-jump.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3073 Update ssh-jump.yaml for v0.8.1
  plugins/ssh-jump.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3091 Minio 5.0.3
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3094 update to 5.0.4
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2915 chore: update kubesec-scan to v1.1.0, add new arch
  plugins/kubesec-scan.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3052 Add kubectl-aks plugin
  plugins/aks.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3099 Add kubectl-klock
  plugins/klock.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin
