Repository kubernetes-sigs/krew-index, pull requests merged in 2023-08, with the labels that each got.

#3282 new version v0.2.0 of switch-config
  plugins/switch-config.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3142 Adding netscaler-k8s plugin to krew
  plugins/netscaler.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved

#3324 [minio/directpv] Update version to v4.0.8
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3326 Add shell-ctx plugin
  plugins/shell-ctx.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin
