Repository kubernetes-sigs/krew-index, pull requests merged in 2023-03, with the labels that each got.

#2982 community-images: update uri
  plugins/community-images.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2989 Publishing v0.6.1 for volsync plugin.
  plugins/volsync.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3006 release first version v0.1.1 of kluster-capacity
  plugins/kluster-capacity.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved

#3010 Publishing v0.7.0 of VolSync plugin
  plugins/volsync.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3012 rem dtlogin plugin
  plugins/dtlogin.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved

#3027 [minio/directpv] Update version to v4.0.0
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3029 [minio/directpv] Update version to v4.0.1
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3028 Remove direct-csi as it is renamed to directpv
  plugins/direct-csi.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved

#3033 [minio/directpv] Update version to v4.0.2
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3039 Minio v5.0.1
  plugins/minio.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/plugin-update
