Repository kubernetes-sigs/krew-index, pull requests merged in 2023-01, with the labels that each got.

#2846 KUTTL Bump to v0.15.0
  plugins/kuttl.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2854 Update minio index to 4.5.6
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2853 Add nodepools plugin to index
  plugins/nodepools.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#2873 Bump cert-manager kubectl plugin to 1.11.0
  plugins/cert-manager.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2875 update minio v4.5.7
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2879 update minio 4.5.8
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2882 [minio/directpv] Update version to v3.2.1
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2887 new version v1.7.0 of node-shell
  plugins/node-shell.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#2901 [minio/directpv] Update version to v3.2.2
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update
