Repository kubernetes-sigs/krew-index, pull requests merged in 2024-05, with the labels that each got.

#3833 new plugin: commander
  plugins/commander.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3841 new release of Commander v0.4.1
  plugins/commander.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3847 Commander
  plugins/commander.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3844 pv-mounter initial release
  plugins/pv-mounter.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3717 Add manifest for kubectl-portal
  plugins/portal.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3409 adding `kube-lock` plugin
  plugins/lock.yaml
Labels: size/M, lifecycle/stale, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3863 Add revisions plugin
  plugins/revisions.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin
