Repository kubernetes-sigs/krew-index, pull requests merged in 2024-03, with the labels that each got.

#3674 Add kor plugin
  plugins/kor.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3676 update minio v5.0.13
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3686 Publishing v0.8.1 of VolSync plugin
  plugins/volsync.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3702 release new version v1.2.8 of slice
  plugins/slice.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3705 update minio v5.0.14
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3711 Publishing v0.9.0 of VolSync plugin
  plugins/volsync.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3722 Add `retina` plugin
  plugins/retina.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin
