Repository kubernetes-sigs/krew-index, pull requests merged in 2024-02, with the labels that each got.

#3612 Add http manifest
  plugins/http.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3627 Update score to v1.18.0
  plugins/score.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3630 release new version v1.14.1 of cert-manager
  plugins/cert-manager.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3280 Add `armadactl` plugin
  plugins/armadactl.yaml
Labels: kind/gray-area, size/M, lifecycle/stale, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3603 Add node-logs plugin
  plugins/node-logs.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3605 Add history plugin
  plugins/history.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3644 update minio operator v5.0.12
  plugins/minio.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3651 Update ssh-jump.yaml for v0.9.0
  plugins/ssh-jump.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3650 add new plugin reverse-proxy
  plugins/reverse-proxy.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3624 Add new plugin mexec
  plugins/mexec.yaml
Labels: kind/gray-area, size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3645 Add dumpy plugin v0.1.0
  plugins/dumpy.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3654 Add dup plugin
  plugins/dup.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3669 add darwin arm64 dumpy selector
  plugins/dumpy.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update
