Repository kubernetes-sigs/krew-index, pull requests merged in 2024-08, with the labels that each got.

#3991 [minio/directpv] Update version to v4.0.12
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3995 upgrade jfs plugin to v0.2.0
  plugins/jfs.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4006 add image plugin
  plugins/image.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4012 [minio/directpv] Update version to v4.1.0
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4009 Add wait-job plugin
  plugins/wait-job.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4029 Add alfred plugin
  plugins/alfred.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4027 Added manifest file for plugin cluster-compare
  plugins/cluster-compare.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4031 [minio/directpv] Update version to v4.1.2
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4041 Add crust-gather to krew plugins
  plugins/crust-gather.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin
