Repository kubernetes-sigs/krew-index, pull requests merged in 2024-01, with the labels that each got.

#3561 Add `kubectl mapr-ticket` v0.1.2
  plugins/mapr-ticket.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3553 Add clog plugin manifest
  plugins/clog.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3568 Add browse-pvc manifest
  plugins/browse-pvc.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3580 feat: upgrade custom-cols plugin
  plugins/custom-cols.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3589 new version v1.10.0 of node-shell
  plugins/node-shell.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3590 Version bump
  plugins/shell-ctx.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3591 Bump shell-ctx version
  plugins/shell-ctx.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3593 new version v1.10.1 of node-shell
  plugins/node-shell.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update
