Repository kubernetes-sigs/krew-index, pull requests merged in 2024-12, with the labels that each got.

#4261 Update kuttl.yaml to v0.20.0
  plugins/kuttl.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4240 Add mdba plugin manifest
  plugins/mdba.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4267 feat: adding kamaji plugin
  plugins/kamaji.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4249 Add saconfig plugin
  plugins/saconfig.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4285 crashwatch-update-1.1.0
  plugins/crashwatch.yaml
Labels: size/M, cncf-cla: yes, approved, kind/plugin-update
