Repository kubernetes-sigs/krew-index, pull requests merged in 2024-04, with the labels that each got.

#3742 Publishing v0.9.1 of VolSync plugin
  plugins/volsync.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3749 chore: update mayastor to 2.6.0
  plugins/mayastor.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3759 chore: update mayastor to 2.6.1
  plugins/mayastor.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3773 Update kuttl.yaml for release v0.16.0
  plugins/kuttl.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3726 added plugin cpbase64 to index
  plugins/cpbase64.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3754 Add kollama plugin
  plugins/kollama.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin
