Repository kubernetes-sigs/krew-index, pull requests merged in 2024-07, with the labels that each got.

#3895 feat: adding conditioner plugin
  plugins/conditioner.yaml
Labels: kind/gray-area, size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3941 chore: update mayastor to 2.7.0
  plugins/mayastor.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3942 add cache plugin
  plugins/cache.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3944 Update kuttl.yaml to v0.18.0
  plugins/kuttl.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3936 add view-quotas
  plugins/view-quotas.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3956 bump neat to v2.0.4
  plugins/neat.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3951 Add kubectl-track
  plugins/track.yaml
Labels: size/L, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3959 Add plugin `cond`
  plugins/cond.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3703 Add `kubectl-cnf` plugin
  plugins/cnf.yaml
Labels: size/M, lifecycle/stale, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3937 feat: add dpm plugin
  plugins/dpm.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3967 Add kubectl kueue plugin.
  plugins/kueue.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3969 Update Dumpy to v0.2.0
  plugins/dumpy.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3971 feat: add kubectl cautious command
  plugins/cautious.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3989 Publishing v0.10.0 of volsync plugin.
  plugins/volsync.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update
