Repository kubernetes-sigs/krew-index, pull requests merged in 2024-09, with the labels that each got.

#4046 Update kuttl.yaml to v0.19.0
  plugins/kuttl.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4042 Add encrypted-kubeconfig to krew plugins
  plugins/encrypted-kubeconfig.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4055 Update to v0.0.2 of cluster-compare.yaml
  plugins/cluster-compare.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4065 [minio/directpv] Update version to v4.1.3
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4066 add config-doctor plugin
  plugins/config-doctor.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4094 [minio/directpv] Update version to v4.1.4
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4096 Version bump cluster-compare to v0.1.1
  plugins/cluster-compare.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/plugin-update
