Repository kubernetes-sigs/krew-index, pull requests merged in 2024-06, with the labels that each got.

#3885 Update kuttl.yaml to v0.17.0
  plugins/kuttl.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3887 Add nginx-supportpkg plugin
  plugins/nginx-supportpkg.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3918 upgrade directpv v4.0.11
  plugins/directpv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3903 Add kubectl knife plugin
  plugins/knife.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3888 cert-manager: Switch to the new cmctl repository
  plugins/cert-manager.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/plugin-update

#3730 feat(kubectl-validate): add validate plugin
  plugins/validate.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#3857 Add duplik8s plugin
  plugins/duplicate.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin
