Repository kubernetes-sigs/krew-index, pull requests merged in 2024-10, with the labels that each got.

#4112 Update score to v1.19.0
  plugins/score.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4117 Update netobserv plugin to v0.0.3 #4116
  plugins/netobserv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4063 Remove skew plugin
  plugins/skew.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved

#4111 new plugin crashwatch
  plugins/crashwatch.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4129 add kubectl-link plugin
  plugins/link.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4131 update jfs plugin to v0.3.0
  plugins/jfs.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4130 add kubectl-cs plugin
  plugins/cs.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4073 Add kubectl-output plugin
  plugins/output.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4115 Add new plugin: ray
  plugins/ray.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4121 add config-import
  plugins/config-import.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4148 First version v0.1.0 of argo-apps-viz
  plugins/argo-apps-viz.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4150 Bump netobserv to 0.0.4
  plugins/netobserv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4151 Fix wrong link in ray plugin
  plugins/ray.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4156 Version bump cluster-compare to v0.2.0
  plugins/cluster-compare.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4165 Version bump cluster-compare to v0.2.1
  plugins/cluster-compare.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update
