Repository kubernetes-sigs/krew-index, pull requests merged in 2025-03, with the labels that each got.

#4460 bump jfs plugin to v0.4.0
  plugins/jfs.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4483 bump sql plugin to v0.3.27
  plugins/sql.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4472 Publishing v0.12.0 of the VolSync plugin
  plugins/volsync.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4501 release krew 0.4.5
  .github/workflows/ci.yml
  plugins/krew.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved

#4504 update sql to v0.3.28
  plugins/sql.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4512 update sql to v0.3.29
  plugins/sql.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4514 update sql to v0.3.31
  plugins/sql.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4519 bump sql to v0.3.32
  plugins/sql.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4520 Version bump cluster-compare to v0.9.0
  plugins/cluster-compare.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update
