Repository kubernetes-sigs/krew-index, pull requests merged in 2025-07, with the labels that each got.

#4727 update komodor v1.1.12
  plugins/komodor.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4492 Add kubectl health plugin
  plugins/health.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4757 bump mtv v0.1.20
  plugins/mtv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4759 bump mtv v0.1.21
  plugins/mtv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4765 mtv-bump-v0.1.22
  plugins/mtv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4766 bump-mtv-0.1.23
  plugins/mtv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4768 bump-mtv-0.1.24
  plugins/mtv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update
