Repository kubernetes-sigs/krew-index, pull requests merged in 2025-06, with the labels that each got.

#4662 v0.1.28
  plugins/preq.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4663 v0.1.29
  plugins/preq.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4665 v0.1.30
  plugins/preq.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4675 bump mtv to v0.1.16
  plugins/mtv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4677 Bump mtv to 0.1.17
  plugins/mtv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4690 resouce-backup: upgrade to version v0.2.1
  plugins/resource-backup.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4362 add watch-diff plugin
  plugins/watch-diff.yaml
Labels: lifecycle/rotten, size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin
