Repository kubernetes-sigs/krew-index, pull requests merged in 2025-02, with the labels that each got.

#4386 Update kuttl.yaml to v0.21.0
  plugins/kuttl.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4383 Add colorize-managed-fields plugin
  plugins/colorize-managed-fields.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4394 feat: add pickdeep plugin
  plugins/pickdeep.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4411 Update netobserv to 0.0.7
  plugins/netobserv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4430 Update kuttl.yaml to v0.22.0
  plugins/kuttl.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4432 release new version v0.3.21 of sql
  plugins/sql.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4437 feat: update ray to 1.3.0 from 1.2.2
  plugins/ray.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4414 Add slowdrain kubectl plugin
  plugins/slowdrain.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4441 add cnp-viz plugin
  plugins/cnp-viz.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4443 release new version v0.3.25 of sql
  plugins/sql.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4447 Add kubectl-apidocs plugin
  plugins/apidocs.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4457 Version bump cluster-compare to v0.8.0
  plugins/cluster-compare.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4459 new version v0.4.4 of commander
  plugins/commander.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update
