Repository kubernetes-sigs/krew-index, pull requests merged in 2025-04, with the labels that each got.

#4528 bump ray plugin version to v1.3.2
  plugins/ray.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4537 add kubectl resource-backup plugin
  plugins/resource-backup.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4543 update sql to v0.3.33
  plugins/sql.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4545 Add MTV plugin
  plugins/mtv.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4550 Version bump cluster-compare to v0.10.0
  plugins/cluster-compare.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4552 Delete `plugins/hns.yaml`
  plugins/hns.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved

#4553 Bump sql to 0.3.24
  plugins/sql.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4554 Bump mtv to 0.1.9
  plugins/mtv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4556 Bump mtv to v0.1.10
  plugins/mtv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4548 Add kubectl-cwide plugin
  plugins/cwide.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4564 Bump mtv v0.1.12
  plugins/mtv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4565 Bump mtv 0.1.13
  plugins/mtv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4575 Adds kubectl-preq problem detector
  plugins/preq.yaml
Labels: size/L, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4579 resource-backup: upgrade to version v0.1.1
  plugins/resource-backup.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4582 Prequel/bump version to v0.1.12
  plugins/preq.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update
