Repository kubernetes-sigs/krew-index, pull requests merged in 2025-01, with the labels that each got.

#4302 Add kubectl-envsubst
  plugins/envsubst.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4301 Commander version 0.4.3
  plugins/commander.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4274 add wider
  plugins/wider.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4324 Update netobserv to v0.0.5
  plugins/netobserv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4325 adds envx@v0.2.0
  plugins/envx.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4339 Update Dumpy to 0.2.1
  plugins/dumpy.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4344 Add kubectl kjob plugin.
  plugins/kjob.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4367 feat: add kubectl-storm plugin
  plugins/storm.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4377 Version bump cluster-compare to v0.7.0
  plugins/cluster-compare.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update
