Repository kubernetes-sigs/krew-index, pull requests merged in 2025-05, with the labels that each got.

#4604 Prequel/bump preq
  plugins/preq.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4606 v0.1.16
  plugins/preq.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4596 Add xdsnap plugin
  plugins/xdsnap.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4555 Add kubectl-ai plugin
  plugins/ai.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4617 bump-mtv-0.1.14
  plugins/mtv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4615 Add node-resource plugin
  plugins/node-resource.yaml
Labels: size/M, cncf-cla: yes, lgtm, approved, kind/new-plugin

#4620 resource-backup: upgrade to version v0.2.0
  plugins/resource-backup.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4622 Bump v0.1.20
  plugins/preq.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4623 Bump preq
  plugins/preq.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4624 bump mtv to v0.1.15
  plugins/mtv.yaml
Labels: size/XS, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4626 Bump preq
  plugins/preq.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update

#4629 preq v0.1.24
  plugins/preq.yaml
Labels: size/S, cncf-cla: yes, lgtm, approved, kind/plugin-update
